@charset "utf-8";
/* CSS Document */
.page_banner-small {
	width:100%;
	overflow:hidden;
}
div#fadehover {
	position: relative;

	}
 
img.a {
	position: relative;
	left: 0;
	top: 0;
	z-index: 10;
	}
 
img.b {
	position: relative;
	left: 0;
	top: -200px;
	}
